In [1]:
print("HELO")

HELO

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data

ModuleNotFoundError: No module named 'pandas_datareader'

In [ ]:
pd.__version__

In [5]:
pd.read_excel('viv.xlsx')

,Strike,Trigger Price,Trigger Time,SL,Tgt,Underlying,Report Time
0,44400,187.15,00:18:00.100000,212.30,145.30,44273.75,00:18:02.700000
1,44200,218.55,00:18:00.100000,246.15,168.40,44273.75,00:18:02.700000
2,44400,None,None,212.30,145.30,44363.80,00:20:47.100000
3,44200,168.35,00:28:09.500000,228.15,168.40,44411.25,00:28:10.800000
4,44600,138.7,00:27:00,163.85,105.55,44395.15,00:27:01.600000
5,44200,177.1,00:27:00,207.50,133.65,44395.15,00:27:01.600000
6,44600,None,None,163.85,105.55,44429.90,00:29:03.200000
7,44200,150.25,00:54:59.900000,189.50,133.65,44428.95,00:55:00.200000
8,44500,172.65,00:39:59.900000,213.55,115.25,44371.20,00:40:01.300000
9,44200,174.25,00:39:59.900000,222.10,119.85,44371.20,00:40:01.300000
10,44500,214.6,00:20:03,213.55,115.25,44474.55,00:20:03.800000